aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
appdirs==1.4.4
attrs==23.2.0
auto-py-to-exe==2.42.0
beautifulsoup4==4.12.3
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.2
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
cloudscraper==1.2.71
colorama==0.4.6
discord.py==2.3.2
Eel==0.16.0
fade==0.0.9
fake-useragent==1.4.0
filelock==3.13.1
frozenlist==1.4.1
fsspec==2024.2.0
future==0.18.3
gevent==24.2.1
gevent-websocket==0.10.1
googletrans==3.0.0
GrabzIt==3.5.4
greenlet==3.0.3
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.2.1
httpagentparser==1.9.5
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.20.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==7.0.1
Jinja2==3.1.2
logging==0.4.9.6
MarkupSafe==2.1.3
mpmath==1.3.0
multidict==6.0.5
networkx==3.2.1
numpy==1.26.4
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
pycparser==2.21
pyee==8.2.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pyparsing==3.1.1
pyppeteer==1.0.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
PyQt6-WebEngine==6.6.0
PyQt6-WebEngine-Qt6==6.6.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyTelegramBotAPI==4.15.4
pytesseract==0.3.10
python-lichess==0.10
pythonping==1.1.4
pywin32-ctypes==0.2.2
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
safetensors==0.4.2
sdamgia-api==0.1.7
setuptools==69.1.0
sip==6.8.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
sympy==1.12
telebot==0.0.5
tokenizers==0.15.1
torch==2.2.0+cu118
torchaudio==2.2.0+cu118
torchvision==0.17.0+cu118
tqdm==4.66.2
transformers==4.37.2
typing_extensions==4.9.0
ua-parser==0.18.0
urllib3==1.26.18
websockets==10.4
whichcraft==0.6.1
yarl==1.9.4
zipp==3.17.0
zope.event==5.0
zope.interface==6.2
